.cover {
  background: url("/hero.png") no-repeat center right;
  background-size: contain;
  padding: 5% 0 0 0;
  &Title {
    font-size: 6vw;
    line-height: 0.9;
    font-weight: bold;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 144px;
  }
}

@media only screen and (max-width: 800px) {
  .cover {
    margin-bottom: 2rem;
  }
}
