@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body,
button {
  font-family: "Roboto";
  font-size: 18px;
}

button {
  border: none;
  font-family: "Roboto";
  box-shadow: none;
}

@media only screen and (max-width: 1150px) {
  html,
  body,
  button {
    font-size: 16px;
    font-family: "Roboto";
  }
}
